In [15]:
import tushare as ts 
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

df = ts.get_k_data(code='600519',start='2001-01-01')
df

            date     open    close     high      low     volume    code
0     2001-08-27    5.392    5.554    5.902    5.132  406318.00  600519
1     2001-08-28    5.467    5.759    5.781    5.407  129647.79  600519
2     2001-08-29    5.777    5.684    5.781    5.640   53252.75  600519
3     2001-08-30    5.668    5.796    5.860    5.624   48013.06  600519
4     2001-08-31    5.804    5.782    5.877    5.749   23231.48  600519
5     2001-09-03    5.812    5.779    5.870    5.757   22112.09  600519
6     2001-09-04    5.782    5.852    5.949    5.762   37006.77  600519
7     2001-09-05    5.876    5.849    5.924    5.813   26066.95  600519
8     2001-09-06    5.835    5.734    5.854    5.704   28997.03  600519
9     2001-09-07    5.702    5.574    5.773    5.570   31552.25  600519
10    2001-09-10    5.531    5.734    5.757    5.470   18878.89  600519
11    2001-09-11    5.749    5.670    5.773    5.656   11390.81  600519
12    2001-09-12    5.520    5.621    5.656    5.515   25045.19  600519
13    2001-09-13    5.626    5.607    5.671    5.577   10986.68  600519
14    2001-09-14    5.626    5.671    5.702    5.593    7672.83  600519
15    2001-09-17    5.637    5.599    5.670    5.546    8983.97  600519
16    2001-09-18    5.606    5.663    5.710    5.601   10773.26  600519
17    2001-09-19    5.671    5.768    5.768    5.634    8650.53  600519
18    2001-09-20    5.765    5.720    5.788    5.702   11173.35  600519
19    2001-09-21    5.668    5.634    5.718    5.624    7879.72  600519
20    2001-09-24    5.634    5.632    5.685    5.624    4068.60  600519
21    2001-09-25    5.668    5.660    5.709    5.632    3488.45  600519
22    2001-09-26    5.642    5.637    5.699    5.624    4956.26  600519
23    2001-09-27    5.637    5.734    5.777    5.624    8778.04  600519
24    2001-09-28    5.765    5.795    5.812    5.702   17088.47  600519
25    2001-10-08    5.781    5.715    5.809    5.663    6552.17  600519
26    2001-10-09    5.718    5.827    5.859    5.718    9558.52  600519
27    2001-10-10    5.827    5.640    5.848    5.629   17548.69  600519
28    2001-10-11    5.626    5.585    5.702    5.570   12306.84  600519
29    2001-10-12    5.609    5.624    5.726    5.320   20010.70  600519
...          ...      ...      ...      ...      ...        ...     ...
4188  2019-03-26  780.000  773.000  785.940  764.100   37595.00  600519
4189  2019-03-27  781.000  788.500  793.880  775.000   42807.00  600519
4190  2019-03-28  793.430  806.800  814.480  785.680   57566.00  600519
4191  2019-03-29  835.000  853.990  866.680  830.170   90933.00  600519
4192  2019-04-01  860.000  859.000  868.950  851.000   60934.00  600519
4193  2019-04-02  859.990  850.000  859.990  836.060   53227.00  600519
4194  2019-04-03  840.120  844.500  851.740  834.210   43056.00  600519
4195  2019-04-04  840.000  865.000  865.800  836.200   55772.00  600519
4196  2019-04-08  900.000  900.200  908.000  890.120   66251.00  600519
4197  2019-04-09  903.000  905.000  908.200  892.510   47989.00  600519
4198  2019-04-10  903.000  947.990  951.900  900.000   67814.00  600519
4199  2019-04-11  948.000  925.200  950.000  905.550   61102.00  600519
4200  2019-04-12  909.000  914.000  919.990  900.010   48612.00  600519
4201  2019-04-15  931.000  907.000  939.000  907.000   45522.00  600519
4202  2019-04-16  904.900  939.900  939.900  901.220   46423.00  600519
4203  2019-04-17  938.000  952.000  955.510  925.000   40761.00  600519
4204  2019-04-18  945.410  945.500  954.680  936.220   19598.00  600519
4205  2019-04-19  943.960  952.560  960.950  931.310   32379.00  600519
4206  2019-04-22  959.500  949.200  978.890  940.610   40627.00  600519
4207  2019-04-23  951.000  974.950  981.220  949.200   48852.00  600519
4208  2019-04-24  979.880  970.000  990.000  951.220   45227.00  600519
4209  2019-04-25  968.790  952.370  973.990  951.220   39801.00  600519
4210  2019-04-26  946.300  945.000  959.880  945.000   43277.00  600519
4211  2019-04-29  945.000  971.970  989.000  935.000   52572.00  600519
4212  2019-04-30  968.000  974.000  984.960  963.110   35943.00  600519
4213  2019-05-06  925.500  906.000  935.000  893.000  135099.00  600519
4214  2019-05-07  893.280  890.000  913.940  870.220  100837.00  600519
4215  2019-05-08  860.000  884.400  901.800  860.000   81882.00  600519
4216  2019-05-09  875.000  858.810  879.870  842.500   91545.00  600519
4217  2019-05-10  875.660  907.120  910.780  868.190   79907.00  600519

[4218 rows x 7 columns]

In [8]:
df.to_csv('./maotai.csv')

In [10]:
# 将data列的数据转成时间序列,然后将该列作为整个数据源的行索引
data = pd.read_csv('./maotai.csv',index_col='date',parse_dates=['date'])